[submodule "cyclox2_svr/cyclox2"]
	path = cyclox2_svr/cyclox2
	url = git@github.com:cyclox-dev/cyclox2web.git
[submodule "cyclox2ressys_svr/cyclox2res_sys"]
	path = cyclox2ressys_svr/cyclox2res_sys
	url = git@github.com:cyclox-dev/cyclox2res-sys.git
