[submodule "cyclox2_svr/cyclox2"]
	path = cyclox2_svr/cyclox2
	url = git@github.com.sub:cyclox2-dev/cyclox2web.git
[submodule "cyclox2_ressys/cyclox2res-sys"]
	path = cyclox2_ressys/cyclox2res-sys
	url = git@github.com:cyclox2-dev/cyclox2res-sys
