[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

skip-character-set-client-handshake
character-set-server = utf8
collation-server = utf8_general_ci
init-connect = SET NAMES utf8

# for replication
log-bin=mysql-bin
server-id=1101
expire_logs_days=3

# >>> add at 20190902
# slow_query_log # slow queryログの有効化
# slow_query_log_file=/home/cyclox_admin/tmp/logs/slow.log # ファイルパス
# long_query_time=5 # 5秒以上処理に時間がかかったクエリを記録
# log-queries-not-using-indexes # インデックスが使用されていないクエリをログに出力
# <<<

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

